<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sign Up Form</title>

  <!-- load CSS, includes bootstrap -->
  <link rel="stylesheet" href="css/main.css">

  <!-- load angular -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
</head>


<body ng-app="FormApp" class="container">

  <div ng-controller="FormCtrl">
    <form name="signUpForm" class="form-horizontal" novalidate>

      <div class="alert alert-success" ng-show="signUpForm.$submitted">
       <strong>Success!</strong> Your form has been submitted.
      </div>

      <h1>Sign Up To TaterTots</h1>
      <p class="lead">Our service is fun and awesome, but you must be 13 years old to join</p>
      <!-- First Name Input -->
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName" class="form-control" ng-model="firstName" placeholder="Your first name" required>
      </div>

      <!-- Last Name Input -->
      <div class="form-group" ng-class="{'has-error': signUpForm.lastName.$invalid}">
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName" class="form-control" ng-model="lastName" placeholder="Your last name"required>
        <p id="last-name-error" ng-show="!signUpForm.lastName.$pristine && signUpForm.lastName.$invalid"class="help-block">we need to know your last name</p>
      </div>  

      <!-- Birthday Input -->
      <div class="form-group">
          <label for="birthdate">Birthdate</label>
          <input type="text" name="birthdate" id="birthdate" class="form-control" ng-model="birthdate" placeholder="MM/D/YYYY" required>
          <span id="birthdate-error"class="help-block" ng-show="!signUpForm.birthdate.$pristine &&birthdateInput(birthdate) == false">User too young to apply!</span>
      </div>

      <!-- Email Input -->
      <div class="form-group" ng-class="{'has-error': signUpForm.email.$invalid}">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Your email address" class="form-control" ng-model="email">
        <span id="email-error"class="help-block" ng-show="signUpForm.email.$error.email">Please enter a valid email address</span>
      </div>

   
      <div ng-app="app" class="form-group" ng-class="{'has-error': signUpForm.password.$invalid}">
          <label for="password">Password:</label>
            <input autofocus type="password" name="password" placeholder="Password "id="password" class="form-control" ng-model="password" required >
          <!---<label> Strength:
            <progress min="0" max="4" value="{{v()}}"></progress>
            <span>{{v()}}</span>
          </label> -->    
      </div>

         <!-- Password Input -->
      <div class="errors">
        <div class="invalid" id="password-error" ng-show="signUpForm.password.$touched">
          <span ng-show="signUpForm.password.$error.required">Please enter a password</span>
        </div>
      </div>
      
      <!-- Confirm Password Input -->
      <div class="form-group" ng-class="{'has-error': signUpForm.confirmpassword.$invalid}">
        <label for="confirmpassword">Confirm Password:</label>
        <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" class="form-control" ng-model="confirmpassword" required ng-change="passwordConfirmed()" >
      </div>   

      <!-- Password Error messages -->
      <div class="errors">
        <div class="invalid" ng-show="signUpForm.confirmpassword.$touched">
          <span ng-show="signUpForm.confirmpassword.$error.required">Please re-enter your password</span>
        </div>
      </div>
      <div class="errors">
        <div class="invalid" ng-show="!passwordConfirmed()">
          <span class="help-block">Passwords must match</span>
        </div>
      </div>  

      <!-- Reset Button -->
      <button type="submit" id="reset-button" class="btn btn-default" ng-click="reset(signUpForm)">Reset</button>
     
      <!-- Submit Button -->
      <button type="submit" id="sign-me-up-button" class="btn btn-primary" ng-click="submitForm(signUpForm)" ng-disabled="signUpForm.$invalid">Sign Me Up!</button>
    </div>

    

  </form>

  <!-- load our script -->
  <script src="js/app.js"></script>

</body>
</html>